.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #0a084c;
    padding: 20px;
    color: white;
  }
  
  input {
    margin: 10px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    text-align: center;
    margin: 5px 0;
  }
  p{
    text-align: center;
    margin: 5px 0;
  }